* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(199, 199, 199);
}

.container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
}

.tables {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title {
    font-family: monospace;
    font-size: 35px;
    text-align: center;
    margin: 20px;
}

#editor,
#preview {
    width: 500px;
    height: 600px;
    margin: 10px;
    box-shadow: 1px 2px 17px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.editor textarea {
    background-color: rgb(149, 255, 223);
    color: rgb(120, 120, 120);
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: vertical;
    outline: none;
}

#preview {
    background-color: #222222;
    color: white;
    font-size: 12px;
    padding: 10px 20px;
    overflow-y: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
    color: rgb(243, 235, 8);
    text-decoration: none;
}

@media (max-width: 1050px) {
    .container {
        align-items: center;
    }    
    .tables {
        flex-direction: column;
    }
    #editor,
    #preview {
        width: 650px;
        height: 400px;
    }
}